{% extends "symposion/speakers/base.html" %}

{% load bootstrap %}
{% load i18n %}
{% load pinax_boxes_tags %}

{% block page_title %}{% trans "Edit Speaker Profile" %}{% endblock %}

{% block body %}
    {% box "speaker-profile" %}

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <legend>{% trans "Edit Speaker Profile" %}</legend>
        <fieldset>
            {{ speaker_form|bootstrap }}
        </fieldset>
        <div class="form-actions">
            <a class="btn btn-secondary" href="{% url "dashboard" %}">Cancel</a>
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}
