{% extends "site_base.html" %}

{% load bootstrap %}

{% block body %}
<div class="page-edit">
    <h1>Edit <span class="path">{{ path }}</span></h1>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="markdown-supported">
            <a href="https://daringfireball.net/projects/markdown/" target="_target">Markdown Supported</a>
        </div>
        <div class="form-actions">
            <button class="btn btn-sm btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}
