{% extends "symposion/proposals/base.html" %}

{% load bootstrap %}

{% block head_title %}Editing {{ proposal.title }}{% endblock %}

{% block body %}
    <h1>Edit: {{ proposal.title }}</h1>

    <p><a href="{% url "proposal_speaker_manage" proposal.pk %}">Manage speakers</a></p>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {{ form|bootstrap }}
        </fieldset>
        <div class="form-actions">
            <a class="btn btn-secondary" href="{% url "proposal_detail" proposal.pk %}">Cancel</a>
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}
